* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 65.5%;
    scroll-behavior: smooth;
}

body {
    background-color: #0b0c10;
    color: #fff;
}

/* navbar*/
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
    padding: 1.5rem 0;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

.nav_logo {
    color: black;
    font-size: 2.7rem;
    text-decoration: none;
}

/* Center nav */
.mid_nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
}

.navbar_link a {
    color: black;
    text-decoration: none;
    font-size: 1.8rem;
}

.mid_nav_btn button {
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    background: white;
    border: 2px solid black;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.right_nav_btn {
    background: black;
    color: white;
    padding: 1rem 1.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Mobile Menu Button */
.navbar_toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.navbar_toggle .bar {
    width: 30px;
    height: 10px;
    background: white;
    margin: 3px 2px;
}
.navbar_link a:hover{
    color: #a4863d;
}
.mid_nav_btn button:hover{
    color: white;
    background: black;
}
/* mobile navbar*/
@media (max-width: 910px) {
    .mid_nav ul {
        position: absolute;
        top: -600px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background: #0b0c10;
        padding: 1rem 0;
        gap: 1rem;
        transition: 0.4s;
        text-align: center;
    }
    .navbar_toggle{
        background-color: black;
    }
    .navbar_item.active{
        background-color: rgba(57, 57, 57, 0.7);
        position: absolute;
        top: 0;
    }

    .mid_nav ul.active {
        top: 55px;
    }

    .right_nav_btn {
        display: none;
    }

    .navbar_toggle {
        display: flex;
    }
    
    
}


/* main section */
.main {
    background-image: url(/image/49e169c757a8a953020a3b3dc925dcc3f489813b.jpg);
    background-size: cover;
    background-position: center;
    padding: 6rem 2rem;
    min-height: 92vh;
}

.main_container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
}

.review{
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    max-width: 250px;
    border-radius: 15px;
    padding-left: 15px;
}
.review img{
    display: inline-block;
    height: 20px;
}
.review p {
    color: white;
    width: fit-content;
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
    display: inline-block;
    margin-left: 40px;
}

.main_txt h1 {
    font-size: 7rem;
    max-width: 600px;
    margin-bottom: 2rem;
}

.main_txt p {
    font-size: 1.8rem;
    max-width: 480px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.main_btn button {
    padding: 0.8rem 1.6rem;
    margin-right: 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6rem;
    margin-bottom: 1.7rem;
}

.main_btn1 a{
    background: #fff;
    color: #000;
    border: none;
    text-decoration: none;
}

.main_btn2 {
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: white;
}

.main_card {
    background: white;
    width: 100%;
    padding: 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main_sep {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    color: black;
}

.main_card_content {
    flex: 1 1 200px;
    min-width: 180px;
}

.main_card_content p {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.main_card_content input,
.main_card_content select {
    width: 100%;
    padding: 0.8rem;
    border-radius: 6px;
    background: #c0c0c0;
    color: black;
    border: none;
}

.main_card_btn button {
    width: 100%;
    padding: 1rem;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.6rem;
    cursor: pointer;
}
/* Mobile toggle button */
.navbar_toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 4.6rem;
    top: 1.5rem;
}


.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

/* HERO MOBILE */
@media (max-width: 910px) {
    .main_txt h1,
    .main_txt p,
    .main_content {
        text-align: center;
    }
    .navbar_toggle {
        display: flex;
        vertical-align: top;
        height: 30px;
    }

    /* hide desktop menu */
    .mid_nav ul {
        position: absolute;
        top: -500px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background: #0b0c10;
        padding: 2rem 0;
        text-align: center;
        transition: .4s;
    }

    .mid_nav ul.active {
        top: 75px;
    }
    .right_nav{
        position: relative;
    }
    .right_nav .img1{
        cursor: pointer;
        position: absolute;
        right: 5rem;
        top: 8px;
    }
    

    /* hide the right button on mobile */
    .right_nav_btn {
        display: none;
    }
}



/*featured section */
.feature_hotel {
    padding: 8rem 6rem;
    background-color: white;
}

.feature_hotel h2 {
    color: black;
    font-size: 3.5rem;
    text-align: center;
}

.feature_hotel .desc {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
    color: #a1a1a1;
}

.featured-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 4rem;
    max-width: 1300px;
    margin: auto;
}

.featured-card {
    background: #111;
    border: 1px solid #444;
    border-radius: 10px;
    overflow: hidden;
}
.featured-card:hover{
    transform: scale(1.045);
    transition: 0.2s;
}

.featured-card .hotel-image1,
.hotel-image2,
.hotel-image3 {
    height: 250px;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.hotel-image1 {
    background-image: url(image/067f66f42919cd9a17997a7e5d2e28a9fa9e4ea8.jpg);
}
.hotel-image2 {
    background-image: url(image/523fe8b165eb1893d78a40bc10636eb843da7754.jpg);
}
.hotel-image3 {
    background-image: url(image/d51fb9fdbb2e67cb1f5b806c914801461a2c2d84.jpg);
}

.hotel-review {
    padding: 1.5rem;
    background-color: white;
    position: relative;
}
.hotel-name{
    font-size: 1.5rem;
    color: black;
    margin-bottom: 0.5rem;
}
.hotel-location{
    font-size: 1.3rem;
    color: gray;
    margin-bottom: 1rem;
}
.hotel-price{
    font-size: 1.8rem;
    color: black;
    margin-top: 1rem;
}

.feature-btn {
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    color: white;
    background-color: black;
    position: absolute;
    right: 2rem;
    top: 6.5rem;
}

/* CENTER VIEW ALL BUTTON */
.view_all_hotels {
    display: block;
    margin: 3rem auto 0;
    padding: 1rem 2rem;
    background: white;
    color: black;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}
.view_hotels_link{
    background: white;
    color: black;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 768px){
    .featured-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: auto;
}
}
@media (max-width: 576px){
    .featured-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
}
}

/* latest section */
.latest-reviews {
    padding: 5rem 6rem;
    background-color: white;
}

.latest-review {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
    color: black;
}

.review-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.review-card {
    border: 1px solid #444;
    padding: 2rem;
    border-radius: 10px;
}

.reviewSays {
    font-size: 1.6rem;
    color: black;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.descSays{
    font-size: 1.3rem;
    color: gray;
    margin-bottom: 1rem;
}

.img-review {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 1rem;
}

.img-profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-name {
    font-size: 1.5rem;
    color: black;
    margin-top: 10px;
}

/* stay update section*/
.stayUpdated-container {
    background: #ececf0;
    padding: 1px 1px;
    margin: 3rem auto;
    width: 100%;
    max-width: 500px;
    text-align: center;
    border-radius: 2px;
    margin-top: 12rem;
}
.Stays{
    color: black;
    font-family: sans-serif;
    font-size: 3rem;
}
.StaysParag{
    color: gray;
    font-family: sans-serif;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.StaysEmail{
    width: 270px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-bottom: 1px;
    background-color: #F3F3F5;
    color: black;
}
.StaysBtn{
    height: 30px;
    padding: 0 8px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}
@media (max-width: 390px){
    .stayUpdated-container{
        padding: 1px 1px;
    }
    .StaysEmail{
    width: 100%;
    max-width: 270px;
    }
    .StaysBtn {
    width: 100%;
    max-width: 270px;
    height: 30px;
    padding: 0 8px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    margin-bottom: 2px;
    margin-top: 5px;
}
}
/*About ussss*/
.AboutUs-container h2{
    color: black;
    font-size: 3.2rem;
    text-align: center;
    margin-top: 12rem;
    margin-bottom: 1.7rem;
}
.AboutUs-container p{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5rem;
}
.AboutCharac{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}
.characContainer h3{
    color: black;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}
.GetInTouch-container h2{
    color: black;
    font-size: 3.2rem;
    text-align: center;
    margin-top: 15rem;
    margin-bottom: 1.3rem;
}
.GetInTouch-container p{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}
.Get-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2.5rem;
    max-width: 1300px;
    margin: auto;
}
.get_card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    border: 1px black solid;
    border-radius: 8px;
    padding: 2rem 2rem;
}
.get_card-container h4{
    color: black;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.8rem;
    margin-top: 1REM;
}
.get_card-container h5{
    color: black;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 0.8rem;
}
.get_card-container P{
    margin-bottom: 0;
}
@media (max-width: 768px){
    .AboutCharac{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 700px){
    .AboutCharac{
        grid-template-columns: 1fr;
    }
    .Get-container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}
@media (max-width: 726px) {
    .review-container{
        grid-template-columns: 1fr;
    }
}
.profile-container{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 3.5rem;
    padding: 2.6rem;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: black;
}
.profile-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.profile_info p{
    font-size: 1.3rem;
}
.profile_info input{
    width: 100%;
    max-width: 325px;
    height: 30px;
    background-color: #f3f3f5;
    border: none;
    border-radius: 5px;
}
.profile_info1 input{
    width: 100%;
    height: 30px;
    background-color: #f3f3f5;
    border: none;
    border-radius: 5PX;
}
.profile_info1 p{
    font-size: 1.3rem;
}
.profile_infos{
    margin-right: 2rem;
}
.profile_info1 button{
    padding: 0.7rem 1.2rem;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5rem;
}
@media (max-width: 768px){
   .profile-row{
    grid-template-columns: 1fr;
   }
   .profile_info input{
    width: 100%;
    max-width: 900PX;
   }
   .profile_infos{
    margin-right: 0;
   }
}
/*Footer*/
footer{
    background-color: #ececf0;
    padding: 3rem 5rem;
}
.footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: black;
}
.footer_div h3{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.footer_div p{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.footer_div a{
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    cursor: pointer;
    column-gap: 1rem;
}
.footer_div a:hover{
    color: blue;
}
.hr{
    border: 1px gray solid;
    margin: 3rem 6rem;
}
.end{
    font-size: 1.5rem;
    color: gray;
    text-align: center;
}
@media (max-width: 653px){
    .footer-container{
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: auto 5rem;
        text-align: center;
    }
}
@media (max-width: 569px){
    .footer-container{
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
        padding: auto 5rem;
    }
    .footer_div{
        margin-bottom: 2rem;
    }
}
/*inserting Icon*/
.left_nav{
    display: flex;
}
.left_nav img{
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}
.right_nav{
    display: flex;
    position: relative;
}
.right_nav .img1{
    height: 20px;
    position: absolute;
    align-items: center;
    top: 7px;
    right: 135px;
    cursor: pointer;
}
.right_nav .img2{
    height: 20px;
    position: absolute;
    top: 7px;
    right: 95px;
    cursor: pointer;
}
@media (max-width: 910px){
    .right_nav .img1{
    height: 20px;
    position: absolute;
    align-items: center;
    top: -10px;
    right: 110px;
    cursor: pointer;
}
    .right_nav .img2{
    height: 20px;
    position: absolute;
    top: -10px;
    right: 70px;
    cursor: pointer;
}
}

.profileImg1{
    position: absolute;
    top: 5px;
    left: 16px;
}
.profileImg2{
    position: absolute;
    top: 5px;
    left: 30px;
}
.profileImg3{
    position: absolute;
    top: 5px;
    left: 45px;
}
.main_btn2 img{
    vertical-align: middle;
    margin-right: 5px;
}
.characContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: centers;
}
.characContainer img{
    display: flex;
    height: 60px;
    width: 60px;
}
.get_card-container img{
    display: flex;
    height: 40px;
    width: 40px;
}
.profile_info1 img{
    height: 15px;   
}
.footer_div .social_icons{
    height: 30px;
    padding-right: 1rem;
}